@{
    ViewData["Title"] = "Error";
}
<div class="text-center">
    <h1 class="display-4">Oops!</h1>
    <p>An unexpected error has occurred.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
</div>
