@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">An error occurred.</h1>
    <p>Please try again or contact an administrator.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
</div>
