@{
    ViewData["Title"] = "Password Reset";
}
<div class="row justify-content-center">
    <div class="col-md-6 text-center py-5">
        <h2>Password Reset</h2>
        <p>Your password has been reset. You can now log in with your new password.</p>
        <a asp-action="Login" class="btn btn-primary">Log In</a>
    </div>
</div>
