@{
    ViewData["Title"] = "Error";
}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1 class="display-4">Oops!</h1>
        <p class="lead">An unexpected error occurred. Please try again later.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
    </div>
</div>
