<% if (typeof success !== 'undefined' && success && success.length) { %>
  <% success.forEach(function(msg) { %>
    <div class="alert alert-success alert-dismissible fade show flash-auto-dismiss" role="alert">
      <%- msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% }) %>
<% } %>
<% if (typeof error !== 'undefined' && error && error.length) { %>
  <% error.forEach(function(msg) { %>
    <div class="alert alert-danger alert-dismissible fade show flash-auto-dismiss" role="alert">
      <%- msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% }) %>
<% } %>
<% if (typeof info !== 'undefined' && info && info.length) { %>
  <% info.forEach(function(msg) { %>
    <div class="alert alert-info alert-dismissible fade show flash-auto-dismiss" role="alert">
      <%- msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% }) %>
<% } %>
