@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4>Forgot Password</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Enter your email address</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
