<% if (typeof messages !== 'undefined') { %>
  <% if (messages.success && messages.success.length > 0) { %>
    <% messages.success.forEach(function(msg) { %>
      <div class="alert alert-success"><%= msg %></div>
    <% }); %>
  <% } %>
  <% if (messages.error && messages.error.length > 0) { %>
    <% messages.error.forEach(function(msg) { %>
      <div class="alert alert-error"><%= msg %></div>
    <% }); %>
  <% } %>
  <% if (messages.info && messages.info.length > 0) { %>
    <% messages.info.forEach(function(msg) { %>
      <div class="alert alert-info"><%= msg %></div>
    <% }); %>
  <% } %>
<% } %>
