@{
    ViewData["Title"] = "Error";
}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-danger mt-5">
            <h4 class="alert-heading">An error occurred</h4>
            <p>We're sorry, something went wrong. Please try again later.</p>
            <hr />
            <p class="mb-0">
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger">Return Home</a>
            </p>
        </div>
    </div>
</div>
