<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="h3 mb-3"><%= pageTitle %></h1>
        <p class="mb-0"><%= errorMessage %></p>
      </div>
    </div>
  </div>
</div>
