@{
    ViewData["Title"] = "Password Reset Email Sent";
}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-info mt-5">
            <h4>Check your email</h4>
            <p>If your email address is registered, a password reset link has been sent. Please check your inbox.</p>
        </div>
        <a asp-action="Login" class="btn btn-outline-primary">Return to Login</a>
    </div>
</div>
